#barraescura{
 background-color:rgb(22, 22, 192);

 padding: 15px;
 max-width: 300px;


}
.tela{
background-color: rgb(104, 182, 255); 
padding: 100px;
max-width: 300px;
}
#nome{
    text-align: center;
    color: rgb(182, 193, 202);
}
#credencial{
    text-align: center;
    color: rgb(182, 193, 202);
}
#senha{
    text-align: center;
    color: rgb(182, 193, 202);
}
#OTP{
    text-align: center;
    color: rgb(182, 193, 202);
}