body{
    background-color: rgb(124, 166, 243);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#barraescura{
 background-color:rgb(22, 22, 192);
display: flex;
padding: 30px;
 max-width: 300px;
}
.tela{
background-color: rgb(104, 182, 255); 
pa
width: 100px;
max-width: 300px;
}
#nome{
    text-align: center;
    color: rgb(182, 193, 202);
}
#credencial{
    text-align: center;
    color: rgb(182, 193, 202);
}
#senha{
    text-align: center;
    color: rgb(182, 193, 202);
}
#OTP{
    text-align: center;
    color: rgb(182, 193, 202);
}

::-webkit-input-placeholder {
    color: rgb(14, 13, 13);
 }

 #img{
    width: 400px;
 }