body {
    background-color: rgb(174, 201, 252);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}


.posicionar{
    position: fixed; 
  bottom: 0;      
  left: 50%;      
  transform: translateX(-50%); 
}

.alinharimg {
    display: flex;

    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;

}

#barraescura {
    background-color: rgb(25, 25, 146);
    display: flex;
    max-width: 2000px;
    padding: 10;
}

.tela {
    background-color: rgb(104, 182, 255);
    width: 100px;
    max-width: 300px;
}

#nome {
    text-align: center;
    color: rgb(182, 193, 202);
}

#credencial {
    text-align: center;
    color: rgb(182, 193, 202);
}

#senha {
    text-align: center;
    color: rgb(182, 193, 202);
}

#OTP {
    text-align: center;
    color: rgb(182, 193, 202);
}

::-webkit-input-placeholder {
    color: rgb(14, 13, 13);
}

#img {
    width: 400px;
}

.branca {
    border: 1px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    align-items: center;
    border-radius: 30px 30px 50px 50px;
    margin-left: 40px;
    margin-right: 40px;
}

#azul {
    background-color: rgb(25, 25, 146);
    display: flex;
    justify-content: center
}

.topo1 {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.topo2 {
    width: 50px;
    height: 50px;
    margin-left: 250px;
}

.imagembase {
    width: 60px;
    padding-top: 260px;
}

#hs {
    color: rgb(255, 255, 255);
}

.redonda {
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin: 30px;
    padding: 10px;
    justify-content: center
}

.c1{
    display: flex;
}

.c2{
    display: flex;
}

.c3{
    display: flex;
}

.c4{
    display: flex;
}

.im{
    width: 40px;
    height: 37px;
}

.i{
    padding-top: -200px;
    padding-right: 50px;
    align-items: center;
}

.imgtopo{
    background: linear-gradient(to bottom, rgb(174, 201, 252), rgb(174, 201, 252));
}
#barra{
    background-color: rgb(25, 25, 146);
    display: flex;
    max-width: 2000px;
    padding: 10;
}
.alterarPerfil{
    display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Opcional: centraliza os botões verticalmente dentro da altura de 150px */
  background: rgb(94, 156, 239);
  max-width: 500px;
  max-height: 150px;
    
    
  
   
   

}