.cormenu{
    color: black;
}

.red {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 25px;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    height: 70px;
}

.red1 {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 50px 70px 50px 70px;
    justify-content: center;
    height: 70px;
}

.red2 {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 25px;
    padding: 50px 20px 50px 20px;
    justify-content: center;
    height: 70px;
}

.red3 {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 50px 30px 50px 20px;
    justify-content: center;
    height: 70px;
}

.red4 {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 25px;
    padding: 50px 60px 50px 60px;
    justify-content: center;
    height: 70px;
}

.red5 {
    background-color:  rgb(237, 239, 240);
    color: black;
    border-radius: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 50px 20px 50px 20px;
    justify-content: center;
    height: 70px;
}

.lado{
    display: flex;
    margin-top: 20px;
}
