body {
    background-color: rgb(174, 201, 252);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}


.posicionar{
    position: fixed; 
  bottom: 0;      
  left: 50%;      
  transform: translateX(-50%); 
}

.alinharimg {
    display: flex;

    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;

}

#barraescura {
    background-color: rgb(25, 25, 146);
    display: flex;
    max-width: 2000px;
    padding: 10;
}

.tela {
    background-color: rgb(104, 182, 255);
    width: 100px;
    max-width: 300px;
}

#nome {
    text-align: center;
    color: rgb(182, 193, 202);
}

#credencial {
    text-align: center;
    color: rgb(182, 193, 202);
}

#senha {
    text-align: center;
    color: rgb(182, 193, 202);
}

#OTP {
    text-align: center;
    color: rgb(182, 193, 202);
}

::-webkit-input-placeholder {
    color: rgb(14, 13, 13);
}

#img {
    width: 400px;
}

.branca {
    border: 1px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    align-items: center;
    border-radius: 30px 30px 50px 50px;
    margin-left: 40px;
    margin-right: 40px;
}

#azul {
    background-color: rgb(25, 25, 146);
    display: flex;
    justify-content: center
}

.topo1 {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.topo2 {
    width: 50px;
    height: 50px;
    margin-left: 250px;
}

.imagembase {
    width: 60px;
    padding-top: 260px;
}

#hs {
    color: rgb(255, 255, 255);
}

.redonda {
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin: 30px;
    padding: 10px;
    justify-content: center
}

.c1{
    display: flex;
}

.c2{
    display: flex;
}

.c3{
    display: flex;
}

.c4{
    display: flex;
}

.im{
    width: 40px;
    height: 37px;
}

.i{
    padding-top: -200px;
    padding-right: 50px;
    align-items: center;
}

.imgtopo{
    background: linear-gradient(to bottom, rgb(174, 201, 252), rgb(174, 201, 252));
}
#barra{
    background-color: rgb(25, 25, 146);
    display: flex;
    max-width: 2000px;
    padding: 10;
    color: aliceblue;
}
.alterarPerfil{



margin: 25px;
background-color:  rgb(94, 156, 239);

height: 475px;
position: absolute;
width: 380px;
margin-right: 800px;






}
.letras{
color: whitesmoke;
padding: 20px;
text-align: justify;


}
.botao{
    background-color: #003366; 
    
    padding: 20px 80px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    width: 90px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    margin-left: 70px;
    position: absolute;

    
    
   

}

.botao button {
    background-color: #003366; 
    color: white;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    font-size: 20px;
    
    
    
}
#imgofc {
    
    
    
  
    
   
  }
  
  #imgofc img {
    padding: right 90px;
    width: 500px;
    height:700px;
    margin-top: 150px; 
  }
  .botao button {
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave na propriedade transform */
  }
  
  .botao button:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% quando o mouse passa por cima */
  }
    
.im{
    width: 75px;
    height: 60px;
    
}
.im2{
    width: 65px;
    height: 60px;
    margin-left: 25px;
}
#fonte{
color: aliceblue;
}
.topog{

}
.im3{
    width: 67px;
    height: 67px;
    
}
.paratras{
    position: relative;
    z-index: 1;
}
.overlay-transparente {
    position: absolute;
    top: 0;
    left: 0px;
    width: 50%;
    height: 100%;
    background: rgba(29, 75, 214, 0.3); 
    z-index: 2;
    pointer-events: none; 
    backdrop-filter: blur(6px);
  }