body {
    background-color: rgb(174, 201, 252);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}


.posicionar{
    position: fixed; 
  bottom: 0;      
  left: 50%;      
  transform: translateX(-50%); 
}

.alinharimg {
    display: flex;

    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;

}

#barraescura {
    background-color: rgb(25, 25, 146);
    display: flex;
  
    padding: 10;
}

.tela {
    background-color: rgb(104, 182, 255);
    width: 100px;
    max-width: 300px;
}

#nome {
    text-align: center;
    color: rgb(182, 193, 202);
}

#credencial {
    text-align: center;
    color: rgb(182, 193, 202);
}

#senha {
    text-align: center;
    color: rgb(182, 193, 202);
}

#OTP {
    text-align: center;
    color: rgb(182, 193, 202);
}

::-webkit-input-placeholder {
    color: rgb(14, 13, 13);
}

#img {
    width: 400px;
}

.branca {
    border: 1px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    align-items: center;
    border-radius: 30px 30px 50px 50px;
    margin-left: 40px;
    margin-right: 40px;
}

#azul {
    background-color: rgb(25, 25, 146);
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.topo1 {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.topo2 {
    width: 50px;
    height: 50px;
    margin-left: 250px;
}

.imagembase {
    width: 60px;
    padding-top: 260px;
}

#hs {
    color: rgb(255, 255, 255);
}

.redonda {
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin: 30px;
    padding: 10px;
    justify-content: center
}

.c1{
    display: flex;
}

.c2{
    display: flex;
}

.c3{
    display: flex;
}

.c4{
    display: flex;
}

.im{
    width: 40px;
    height: 37px;
}

.i{
    padding-top: -200px;
    padding-right: 50px;
    align-items: center;
}

.imgtopo{
    background: linear-gradient(to bottom, rgb(174, 201, 252), rgb(174, 201, 252));
}
#barra{
    background-color: rgb(25, 25, 146);
    display: flex;
    max-width: 2000px;
    padding: 10;
    color: aliceblue;
}
.alterarPerfil{

margin: 25px;
background-color:  rgb(94, 156, 239);
border-radius:20px;
height: 475px;
position: absolute;
width: 380px;
margin-right: 800px;
color: aliceblue;

}
.letras{
color: whitesmoke;
padding: 20px;
text-align: justify;


}
.botao{
    background-color: #003366; 
    
    padding: 20px 80px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    width: 90px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    margin-left: 70px;
    position: absolute;
}

.botao button {
    background-color: #003366; 
    color: white;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    font-size: 20px;
    
    
    
}
  
  #imgofc img {
    padding: right 90px;
    width: 500px;
    height:700px;
    margin-top: 150px; 
  }
  .botao button {
    transition: transform 0.3s ease-in-out;
  }
  
  .botao button:hover {
    transform: scale(1.1); 
  }
    
.im{
    width: 75px;
    height: 60px;
    
}
.im2{
    width: 65px;
    height: 60px;
    margin-left: 25px;
}
#fonte{
color: aliceblue;
}

.im3{
    width: 67px;
    height: 67px;
    
}
.paratras{
    
    position: absolute;
    z-index: 1;
}
.transparente {
    position: absolute;
    top: 0;
    left: 0px;
    width: 50%;
    height: 106%;
    background: rgba(29, 75, 214, 0.3); 
    z-index: 2;
    pointer-events: none; 
    backdrop-filter: blur(6px);
  }
.texto{
    color: aliceblue;
}
.linhaso{
margin: 20px;
background-color: rgb(35, 93, 170);
height:250px;
width: 230px;
padding-right:30px;
border-radius: 20px;
padding-left: 30px;





}
.quadrados{
   
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(94, 156, 239);
    height: 120px;
    width: 215px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    
    
    
   
    
}
.quadradoslinhas{
background-color:rgb(24, 81, 157);
width: 180px;
color: aliceblue;
text-align: justify;
justify-content: center;
font-size: 12px;
margin-left: 10px;
margin-top: 10px;









}

.redonda1{
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 150px;
    padding: 10px;
    justify-content: center
}

.redonda4{
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 150px;
    padding: 10px;
    justify-content: center
}


.informacao{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 1px;
    position: relative;
    z-index: -1;
}

.informacao22{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    padding-bottom: 1px;
    position: relative;
    margin-top: -200px;
    padding-top: 20px;
    z-index: -1;
}

.informacao222{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
    padding-bottom: 1px;
    position: relative;
    margin-top: -200px;
    padding-top: 20px;
    z-index: -1;
}

.informacao2222{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    padding-bottom: 1px;
    position: relative;
    margin-top: -200px;
    padding-top: 40px;
    z-index: -1;
}

.informacao2{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1px;
    position: relative;
    margin-top: -200px;
    padding-top: 20px;
    z-index: -1;
}

.redonda5{
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: -10px;
    padding: 10px;
    justify-content: center
}

.redonda3{
    background-color: rgb(25, 25, 146);
    display: flex;
    color: rgb(255, 255, 255);
    border-radius:100px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 170px;
    padding: 10px;
    justify-content: center
}
.linhaa{
    background-color:    rgb(24, 81, 157);
       width: 200px;
       height: 30px;
   border-radius: 20px;
   color: aliceblue;
   text-align: center;
   justify-content: center;
   padding-left: 40px;
   font-size: small;
   margin-left: 40px;
   }
   
   .quadradomaior{
       margin: 20px;
       background-color:  rgb(94, 156, 239);
       border-radius:20px;
       height: 800px;
       position: absolute;
       width: 350px;
       margin-right: 7px;
       color: aliceblue;
       background-size: 40px;

       

       
   }
.redond {
    background-color: rgb(231, 231, 237);
    display: flex;
    color: rgb(7, 7, 7);
    border-radius:100px;
    margin: 25px;
    padding: 0px;
    justify-content: center;
}

.red{
    color: crimson;
}
.transparente1 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 50%;
    height: 109%;
    background: rgba(29, 75, 214, 0.3); 
    z-index: 2;
    pointer-events: none; 
    backdrop-filter: blur(6px);
  }
  
.umdo{
display: flex;
font-size: 15px;
white-space:nowrap;
justify-content: space-between;
margin-left: 30px;

}

a:link {
    color: white;
    text-decoration: none;
  }

a:hover {
    color: rgb(32, 13, 175);
}
.informacao3{
    border-style: solid;
    border: 0px;
    background-color: rgb(108, 140, 211, 0.7);
    border-radius: 0px 0px 35px 35px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1px;
    position: relative;
    margin-top: -200px;
    padding-top: 20px;
    z-index: -1;
    color: rgb(196, 27, 27);
}

.new{
    margin:5% 10% 1% 10%;
    border: 0;
    height: 1px;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 0;
}

.linha{
    background-color: rgb(142, 174, 245);
    margin: 10%;
    border-radius: 30px;
    font-size: small;
    padding-top: 5px;
}

.linhas{
    margin-top: 5px;
    padding-right: 200px;
    color: white;
}

.linha2{
    background-color: rgb(120, 163, 255);
    margin: 5%;
    border-radius: 30px;
    font-size: small;
    padding: 10px;
    text-align: left;
    color: white;
}

